# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/local.properties
android/app/src/main/java/io/flutter/plugins/

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
